@font-face {
    font-family: OpenSansRegular;
    src: url('../font/OpenSans-Regular.ttf');
}


*{
    margin: 0;
    padding: 0;
}
body{
    background: black;
    overflow: hidden;
    position: absolute;
}
div#wrap{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}
canvas#canvas{
    position: absolute;
    top: 0;
    left: 0;
}


/* visualizer */
div.visualizer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}
div.visualizer-object-container{
    width: 100%;
    height: 100%;
}
div.visualizer-object{
    width: 100%;
    height: 100%;
}


/* progress */
div.progress{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 40px;
}
div.progress-move{
    position: absolute;
    bottom: 0;
    height: 100%;
    background: rgba(255, 255, 255, 0.25);
    transform: scaleY(0.1);
    transform-origin: bottom;
    transition: transform 0.3s;

}
div.progress-bar{
    position: absolute;
    bottom: 0;
    height: 100%;
    background: white;
    transform: scaleY(0.1);
    transform-origin: bottom;
    transition: transform 0.3s;
}
div.progress:hover > div{
    transform: scaleY(0.4);
}


/* stat */
div.stat{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 15vmin;
    height: auto;
    padding: 4px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    font-family: OpenSansRegular;
}
div.stat-shape{
    display: block;
    font-size: 2.2vmin;
    padding: 2px;
}
div.stat-shape input{
    display: none;
}
div.stat-shape input:checked + label{
    color:rgba(255, 255, 255, 1);
    background:rgba(255, 255, 255, 0.2);
}
div.stat-shape label{
    display: block;
    text-align: center;
    color:rgba(255, 255, 255, 0.4);
    cursor: pointer;
}
div.stat-shape label:hover{
    color:rgba(255, 255, 255, 1);
    background:rgba(255, 255, 255, 0.2);
}